<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.craftsman">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Craftsman">
        <activity android:name=".craftsman.works_craftsman"></activity>
        <activity android:name=".craftsman.home_craftsman" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".customer.MainActivity" />
        <activity android:name=".craftsman.requests_in_craftsman" />
        <activity android:name=".craftsman.profile_craftsman" />
        <activity android:name=".craftsman.add_work_craftsman" />
        <activity android:name=".customer.CraftsmanList" />
        <activity android:name=".customer.cart_customer" />
        <activity android:name=".customer.profile_customer" />
        <activity android:name=".customer.add_request_customer" />
        <activity android:name=".customer.requests_in_customer"/>
        <activity android:name=".craftsman.Details_Request"/>
        <activity android:name=".customer.works_craftsman_in_customer" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".customer.ChatsActivity" />
        <activity android:name=".customer.SearchCraftsman" />


    </application>

</manifest>